**/node_modules/

**/.vuepress/.cache
**/.vuepress/.temp
**/.vuepress/dist

**/dist

.DS_Store

*.log

.idea

/tutorial

/vuepress-i18n-tool

.env
.env.local

# 忽略所有 languine 配置文件
**/languine.config.js
**/languine.config.ts
